* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*Header*/

.navbar {
    background-color: #222222;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.lista {
    display: flex;
    width: 400px;
    justify-content: space-around;

    list-style: none;
    color: white;
}


/*Main*/

main {
    background-color: #E5E5E5;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main section {
    width: 490px;
    height: 350px;
    margin: 5px;
}

.promocion {
    background-image: url(../img/delivery.jpg);
    padding: 26px;
}

.tarjeta_top {
    background-color: white;
}

.podio {
    text-align: center;
    padding: 26px;
}

.pizzas_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 270px;    
}

.pizzas_top div {
    line-height: 150%;
}

.top_titulo {
    list-style: none;
}


/*Footer*/

footer {
    background-color: #222222;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    padding-right: 42px;
}

footer ul {
    flex-direction: column;
    list-style: none;
    color: #F3F3F3;
    line-height: 160%;
}
