main {
    color:rgb(28, 1, 40);
    background-color:rgba(73, 255, 1, 0.773);
}



h1 {
    color:magenta;
    font-size:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}