* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/*BODY*/ 

/*Header*/

h2 {
    background-color: #1CD1B0;
    font-weight: 400;
    line-height: 38px;
    font-size: 15px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 101px;
    border: 1px solid #000000;
    background-color: #00669F;
}

/*Main*/

main {
    position: relative;
    width: 960px;
    height: 530px;
    left: 32px;
    top: 153px;
    bottom: 153px;
    
}

div {
    background-color: #F3F3F3;
}

i {
    color: #CC2424;
    position: absolute;
    top: 15.88px;
    left: 21px;
}

h3 {
    text-align: center;
}

.heroe_uno {
    width: 300px;
    height: 530px;  
    display: inline-block;
    position: absolute;
}


.heroe_dos {
    width: 300px;
    height: 530px;  
    display: inline-block;
    position: absolute;
    left: 332px;

}

.heroe_tres {
    width: 300px;
    height: 530px;  
    display: inline-block;
    position: absolute;
    left: 662px;

}



.logo_heroe {
    border-radius: 100%;
    position: relative;
    left: 90px;
    bottom: 60px;
}

.informacion_heroe {
    position: relative;
    bottom: 20px;
}

.ver_mas {
    text-align: center;
    background-color: #00669F;
    color: white;
    position: relative;
    top: 37px;
    left: 90px;
    padding: 20px 40px;

}


/*Footer*/

.derechos {
    position: relative;
    top: 202px;
    line-height: 51px;
    background-color: #00669F;
    color: #FFF9F9;
    font-size: 16px;
}

.derechos p {
    position: relative;
    left: 16px;
}
