html {
    background-color: #E5E5E5;
}

main {
    background-color: white;
}

.background-footer{
    background-color: #005677;
    color: white;
    text-align: center;
    word-spacing: 20px;
    padding: 2px;
}

.background-main{
    background-color: #c4c4c4;
}

.centro{
    text-align: center;
}

.subtitulo{
    color: #005677;
    font-family: Times New Roman;
    font-weight: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 4px;
    word-spacing: 4px;
    padding: 8px;
}

.subtitulo-footer{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 16.94px;
    word-spacing: 0px;

}

.titulo{
    color:#005677;
    font-family: Times New Roman;
    font-size: 35px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 8px;
    word-spacing: 8px;
}

#profile-pic{
    width: 100px;
}


#separador-encabezado{
    padding: 40px;
}